:root{
--pixelHeight: 10;
--pixelWidth: 10;
--backgroundColor: white;
}

.sketchBoard{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    border: solid black;
    
}
.pixel{
    background-color: var(--backgroundColor);
    height: var(--pixelHeight);
    width: var(--pixelWidth);
}

.change{
    background-color: black !important;
}