:root{
--pixelHeight: 10;
--pixelWidth: 10;
--backgroundColor: black;
}
* {
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 66%);
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;

}

#title {
    display: flex;
    justify-content: center;
    font-style: italic;
}

#colorPicker{
    border:none;
    margin: 20px;
    width: 200px;
    height: 50px;
}

#pixelSlider{  
    appearance: none;
    width: 300px; 
    height: 10px;
}

#pixelSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #2a2e2c;
    border-radius: 50%;
    cursor: pointer;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.board{
    display: flex;
    justify-content: center;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.button{
    margin: 10px 10px;
    padding: 15px 30px;
    width: 200px;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
}

.button:hover{
    background-color: cornsilk;
}


#sketchBoard{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    border: solid black;
}

.pixel{
    background-color: #FFFFFF;
    height: var(--pixelHeight);
    width: var(--pixelWidth);
}

@media only screen and (min-width: 768px){
    #sketchBoard{
        height: 450px;
        width: 450px;
    }
}